h2 {
  margin-bottom: 0px;
}

.amsm-image-container {
  overflow: hidden;
  height: 290px;
  width: 360px;
}

.amsm-image-container img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.large-amsm-image-container {
  overflow: hidden;
  height: 280px;
  width: 740px;
}

.large-amsm-image-container img {
  width: 100%;
  object-fit: contain;
}