h2 {
  margin-bottom: 0px;
}

.amsm-image-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.amsm-image-container img {
  width: 100%;
  object-fit: cover;
}

.large-amsm-image-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.large-amsm-image-container img {
  width: 100%;
  object-fit: contain;
}