h2 {
  margin-bottom: 0px;
}

.icms-images-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.icms-images-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.large-icms-images-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.large-icms-images-container img {
  width: 100%;
  object-fit: contain;
}

.large-icms-team-images-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.large-icms-team-images-container img {
  width: 100%;
  object-fit: contain;
}

.others {
  text-align: center;
  margin-top: 100px;
}