h2 {
  margin-bottom: 0px;
}

.icms-images-container {
  overflow: hidden;
  height: 220px;
  width: 360px;
}

.icms-images-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.large-icms-images-container {
  overflow: hidden;
  height: 300px;
  width: 740px;
}

.large-icms-images-container img {
  width: 100%;
  object-fit: contain;
}

.large-icms-team-images-container {
  overflow: hidden;
  height: 500px;
  width: 740px;
}

.large-icms-team-images-container img {
  width: 100%;
  object-fit: contain;
}

.others {
  text-align: center;
  margin-top: 100px;
}