.normal-font {
  font-size: 14px;
}

.work-container {
  margin-top: 20px;
  margin-left: 20px;
}

.icon-container {
  width: 80px;
  height: 80px;
  float: right;
  overflow: hidden;
  margin: 0 auto;
}

.icon-container img {
  width: 100%;
  object-fit: cover;
}

.time {
  text-align: end;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}