body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-width: 700px;
}

/* color */
.light-grey {
  color: #444444;
}

/* text */
h2 {
  margin-bottom: 80px;
}

a {
  text-decoration: none !important;
}

.small-title {
  font-size: 16px;
  font-weight: 500;
}

.normal-font {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.underline {
  color: rgb(23, 65, 180);
}

/* layout */
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container,
.container-md,
.container-sm {
  max-width: none !important;

}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.main-container {
  width: 100%;
  /* min-height: 100vh; */
  max-width: 1200px;
  height: 100%;
  margin: 50px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

/* footer */
footer {
  margin-top: 50px;
  margin-bottom: -40px;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  font-size: 14px;
  margin: 0;
}